body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  background-color: rgb(36, 162, 183);
  color: white;
  padding: 2em;
}

header button {
  color: black;
}

.blogs {
  padding: 2em;
}

.post-form {
  padding: 2em;
}

.content {
  float: left;
}